{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <h1>Merchandise Store</h1>
    <h2>Your Products</h2>
    <ul>
        {% for product in user_products %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% empty %}
            <li>No products posted by you.</li>
        {% endfor %}
    </ul>

    <hr>

    <h2>All Products</h2>
    <ul>
        {% for product in all_products %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% empty %}
            <li>No other products available.</li>
        {% endfor %}
    </ul>


    <!-- <h2>Available Merchandise</h2>
    <a href="/merchstore/item/add"><button>Add Product</button></a>

    {% if product_types %}
        <ul>
            {% for product_type in product_types %}
                <li>
                    <b>{{ product_type.name }}</b>
                    <ul>
                        {% if product_type.products.all %}
                            {% for product in product_type.products.all %}
                                <li>
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> - ₱{{ product.price }}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No merchandise available under this type.</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No merchandise available.</p>
    {% endif %} -->

    <p>
        <a href="{% url 'home' %}"><button>Back to Home</button></a>
    </p>
{% endblock %}
