{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <h2>Available Merchandise</h2>

    {% if product_types %}
        <ul>
            {% for product_type in product_types %}
                <li>
                    <b>{{ product_type.name }}</b>
                    <ul>
                        {% if product_type.products.all %}
                            {% for product in product_type.products.all %}
                                <li>
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> - ₱{{ product.price }}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No merchandise available under this type.</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No merchandise available.</p>
    {% endif %}
{% endblock %}
