{% extends 'base.html' %}

{% block title %}Merchandise Store{% endblock %}

{% block content %}
    <h1>Merchandise Store</h1>
    {% if user.is_authenticated %}
        <h2>Your Products</h2>
        <a href="/merchstore/transactions"><button>My Transactions</button></a>
        <a href="/merchstore/item/add"><button>Add Product</button></a>
        {% for product_type in product_types %}
            <h3>{{ product_type.name }}</h3>
            <ul>
                {% for product in user_products %}
                    {% if product.product_type == product_type %}
                        <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                    {% endif %}
                {% empty %}
                    <li>No products posted by you.</li>
                {% endfor %}
            </ul>
        {% endfor %}

        <hr>

        <h2>All Products</h2>
        <a href="/merchstore/cart"><button>My Cart</button></a>
        {% for product_type in product_types %}
            <h3>{{ product_type.name }}</h3>
        <ul>
            {% for product in all_products %}
            {% if product.product_type == product_type %}
                <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
            {% endif %}
            {% empty %}
                <li>No other products available.</li>
            {% endfor %}
        </ul>
        {% endfor %}
    {% else %}
        <h2>All Products</h2>
        {% for product_type in product_types %}
            <h3>{{ product_type.name }}</h3>
        <ul>
            {% for product in all_products %}
                {% if product.product_type == product_type %}
                    <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                {% endif %}
            {% empty %}
                <li>No other products available.</li>
            {% endfor %}
        </ul>
        {% endfor %}
    {% endif %}


    <!-- <h2>Available Merchandise</h2>
    <a href="/merchstore/item/add"><button>Add Product</button></a>

    {% if product_types %}
        <ul>
            {% for product_type in product_types %}
                <li>
                    <b>{{ product_type.name }}</b>
                    <ul>
                        {% if product_type.products.all %}
                            {% for product in product_type.products.all %}
                                <li>
                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> - ₱{{ product.price }}
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No merchandise available under this type.</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No merchandise available.</p>
    {% endif %} -->

    <p>
        <a href="{% url 'home' %}"><button>Back to Home</button></a>
    </p>
{% endblock %}
