{% extends 'base.html' %}

{% block title %}Article Categories{% endblock %}
{% block content %}
    <h1>Wiki Articles</h1>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <ul>
                {% for article in articles %}
                    {% if article.category.name == category.name %}
                        <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
                    {% endif %}
                {% endfor % }
            </ul>
        {% endfor % }
    </ul>
{% endblock %}