{% extends 'base.html' %}

{% block title %}Article{% endblock %}
{% block content %}
    <h1>{{ article.title }}</h1>
    {% if article.author.name == user.profile.name %}
        <div>
            <a href="{{article.get_absolute_url}}edit"><button>Edit article</button></a>
        </div>
    {% endif %}
    <small>Written by: {{ article.author }} </small>
    <small>Created on: {{ article.created_on }}</small>
    <small>Updated on: {{ article.updated_on }}</small>
    <img src="{{ article.header_image.url }}">
    <p>{{ article.entry }}</p>

    {% if user.is_authenticated %}
        <h2>Add a comment</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Save</button>
        </form>
    {% endif %}
    <h3>Comments</h3>
    {% for article_comment in comments %}
        <p>{{ article_comment.author.name }}: {{ article_comment.entry }}</p>
    {% endfor %}
    
    <h2>Read similar articles here:</h2>
    {% for category in categories %}
        {% if article.category.name == gen_category.name and article.title != gen_article.title %}
            <li><a href='{{ gen_article.get_absolute_url }}'>{{ gen_article.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}