{% extends 'base.html' %}

{% block title%}Article{% endblock %}
{% block content %}
<a href="/blog/articles/"><button>To Article List</button></a>
    <h1>{{ article.title }}</h1>
    {% if article.author.name == user.profile.name %}
        <div>
            <a href=""><button>Edit article</button></a>
        </div>
    {% endif %}
    <div class="date-time">
        <small>Created on: {{ article.created_on }}</small><br>
        <small>Updated on: {{ article.updated_on }}</small><br>
        <small>Written by: {{ article.author }}</small>
    </div>
    <img src="{{ article.header_image.url }}">
    <p>{{ article.entry }}</p>
    <br>
    <h2>More by the author:</h2>
    {% for gen_article in articles %}
        {% if article.author.name == gen_article.author.name and gen_article.title != article.title %}
            <li><a href="{{ gen_article.get_absolute_url }}">{{ gen_article.title }}</a></li>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h3>Add a comment:</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Save</button>
    </form>
    <br>
    <h3>Comments</h3>
    {% for article_comment in comments %}
        <p>{{ article_comment.author.name }}: {{ article_comment.entry }}</p>
    {% endfor %}
{% endblock %}