{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <header>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </header>
    <nav>
        <ul>
            <li>blog</li>
            <li>commissions</li>
            <li>forum</li>
            <li>merchstore</li>
            <li>wiki</li>
        </ul>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>