{% extends 'base.html' %}

{% block title%}{{ thread.title }}{% endblock %}
{% block content %}
    <h1>{{ thread.title }}</h1>
    <h2>Category: {{ thread.category }}</h2>
    <h2>Date posted: {{ thread.created_on }}</h2>
    <h2>Date edited: {{ thread.updated_on }}</h2>
    <p>{{ thread.entry }}</p>
    <h3>Related Posts</h3>
    <ul>
        {% for post in related_posts|slice:":5" %}
            <li><a href="{% url 'thread-detail' pk=post.pk %}">{{ post.title }}</a></li>
	{% empty %}
	    <p>No other posts in this category.</p>
        {% endfor %}
    </ul>

{% endblock %}
