{% extends 'base.html' %}

{% block title %}Thread Categories{% endblock %}
{% block content %}
    <h2>Categories:</h2>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
            <ul>
                {% for thread in threads %}
                    {% if thread.category.name == category.name %}
                        <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock %}

